
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>ProductList</h4>

<table class="table">
   <!--- <thead> --------------------------------------for a trail view
        <tr>
            <th scope="col">SL.No</th>
            <th scope="col">Products</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dell</td>
            <td> <button type="button" class="btn btn-primary">View</button> </td>
            <td> <button type="button" class="btn btn-warning">Add to Cart</button> </td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>HP</td>
            <td> <button type="button" class="btn btn-primary">View</button> </td>
            <td> <button type="button" class="btn btn-warning">Add to Cart</button> </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Lenovo</td>
            <td> <button type="button" class="btn btn-primary">View</button> </td>
            <td> <button type="button" class="btn btn-warning">Add to Cart</button> </td>
        </tr>
    </tbody>
    </table>-->


    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                            <div class="card-body">
                                <h1>Dell</h1>
                                <p class="card-text">This section/part will be used for the product Details</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary">View</a>
                                        <a href="#" class="btn btn-warning">Add to Cart</a>
                                        <a href="#" class="btn btn-danger">Order Now</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                        <div class="card-body">
                            <h1>HP</h1>
                            <p class="card-text">This section/part will be used for the product details</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                    <a href="#" class="btn btn-danger">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                        <div class="card-body">
                            <h1>Lenovo</h1>
                            <p class="card-text">This section/part will be used for the product details</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                    <a href="#" class="btn btn-danger">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                        <div class="card-body">
                            <h1>Mac</h1>
                            <p class="card-text">This section/part will be used for the product details</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                    <a href="#" class="btn btn-danger">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                        <div class="card-body">
                            <h1>Xaomi</h1>
                            <p class="card-text">This section/part will be used for the product details</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                    <a href="#" class="btn btn-danger">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img-img-top" width="100% height=225" xmlns="http://www.w3.org/2000"</svg>
                        <div class="card-body">
                            <h1>Asus</h1>
                            <p class="card-text">This section/part will be used for the product details</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-warning">Add to Cart</a>
                                    <a href="#" class="btn btn-danger">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>