
@{
    ViewData["Title"] = "ViewDell";


    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .slider-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /*  .mySlides {
            display: none; */
    }
</style>


<h1>ViewDell</h1>


    <div class="slider-container">
        <div class="mySlides fade">
            <img src="~ /lib/image/dell.jpeg" alt="Image 1">
        </div>
        <div class="mySlides fade">
            <img src="~ /lib/image/lenovo.jpeg" alt="Image 2">
        </div>
    </div>