@model AmazonApp.Areas.Inventory.Models.AddCategoryModel

@{
    ViewData["Title"] = "AddCategory";

 

    {
        Layout = "_Layout";
    }

{
    Layout = "_Layout";
}

    <h1>AddCategory</h1>

    <form method="post" action="/Inventory/Category/SaveCategory">
    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" class="form-control"
               id="CategoryName" name="CategoryName" placeholder="Enter Category Name">
    </div>
    <div class="form-group">
        <label for="CategoryDescription">CategoryDescription</label>
        <input type="text" class="form-control"
               id="CategoryDescription" name="CategoryDescription" placeholder="Enter CategoryDescription">
    </div>

    <div class="form-group">
        <label for="Gender">CategoryStatus</label>
        <input type="text" class="form-control"
               id="CategoryStatus" name="CategoryStatus" placeholder="Enter CategoryStatus">
    </div>
   
   
    <button type="submit" class="btn btn-primary">Save Category</button>
</form>

}



