@model AmazonApp.Areas.Inventory.Models.AddCategoryModel

@{
    ViewData["Title"] = "EditCategory";

{
    Layout = "_Layout";
}


    <form method="post" action="/Inventory/Category/UpdateCategory">
    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" class="form-control"
               id="CategoryName" name="CategoryName" placeholder="Enter Category Name" value="@Model.CategoryName">
    </div>
    <div class="form-group">
        <label for="CategoryDescription">Category Description</label>
        <input type="text" class="form-control"
               id="CategoryDescription" name="CategoryDescription" placeholder="Enter Category Description" value="@Model.CategoryDescription">
    </div>

    <div class="form-group">
        <label for="Gender">CategoryStatus</label>
        <input type="text" class="form-control"
               id="CategoryStatus" name="CategoryStatus" placeholder="Enter CategoryStatus" value="@Model.CategoryStatus">
    </div>

    <div style="border-bottom-style">
    <input type="hidden" id="CategoryId" name="CategoryId" value="@Model.CategoryId" />
    <button  type="submit" class="btn btn-primary">Update Category</button>
    </div>
</form>

}
