
@{
    ViewData["Title"] = "ViewFurnitureList";


    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Furniture</h1>

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse2.mm.bing.net/th?id=OIP.YqLcmCQgyb9aFaoP-hlM4wHaEn&pid=Api&P=0&h=220" alt="Dell Image">
                    <div class="card-body">
                        <h5 class="card-title">Sofa Sets</h5>
                        <p class="card-text">Single Seat, Sofa Cum Bed, Three Seater </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:275px" src="https://www.homesdirect365.co.uk/images/antique-french-style-bed-p40524-32198_zoom.jpg" alt="HP Image">
                    <div class="card-body">
                        <h5 class="card-title">Beds</h5>
                        <p class="card-text">King Size, Qeeen Size, Double Bed, Single Bed</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse2.mm.bing.net/th?id=OIP.Zo0wptkaL9zw3hHApWedBAHaFQ&pid=Api&P=0&h=220" alt="Lenovo Image">
                    <div class="card-body">
                        <h5 class="card-title">Wardrobes</h5>
                        <p class="card-text"> Almiras, Cupboards </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>