
@{
    ViewData["Title"] = "ViewHomeAppliances";


    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Home Appliances</h1>


<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse3.mm.bing.net/th?id=OIP.SP1KLeeaL_k7k6SZVmo0pgHaEr&pid=Api&P=0&h=220" alt="Dell Image">
                    <div class="card-body">
                        <h5 class="card-title">Microwave Oven</h5>
                        <p class="card-text"> Phiilps, Pegion, Panasonic, Samsung.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse1.mm.bing.net/th?id=OIP.W4VBVEY4UClAleyISbtfOwHaHa&pid=Api&P=0&h=220" alt="HP Image">
                    <div class="card-body">
                        <h5 class="card-title">Air Fryer</h5>
                        <p class="card-text">IFB, Samsung, Whirlpool, LG, Pegion</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://i5.walmartimages.com/asr/57fd2edb-2c51-41eb-8ad7-f06dfcc742c8.26895e7e958c5cc85224c63259f1e802.jpeg" alt="Lenovo Image">
                    <div class="card-body">
                        <h6 class="card-title">Coffee Makers</h6>
                        <p class="card-text"> Agaro, Pegion, Phillps,IFB</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



