
@{
    ViewData["Title"] = "ViewClothingList";

    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>Clothing</h1>


<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://www.outfittrends.com/wp-content/uploads/2014/02/men-winter-casual-style.png" alt="Dell Image">
                    <div class="card-body">
                        <h5 class="card-title">Mens Clothing</h5>
                        <p class="card-text"> H&M, Allen Solly, Mufti, Zara.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse1.mm.bing.net/th?id=OIP.en8vpz7MjdmBsx8bo1O0GgHaE8&pid=Api&P=0&h=220" alt="HP Image">
                    <div class="card-body">
                        <h5 class="card-title">Women Clothing</h5>
                        <p class="card-text">Zara, Kashish, H&M, Happies</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="width:100%;height:300px" src="https://tse3.mm.bing.net/th?id=OIP.JEvsVvuOyz89t4p7-txTCAHaFk&pid=Api&P=0&h=220" alt="Lenovo Image">
                    <div class="card-body">
                        <h5 class="card-title">Kids Clothing</h5>
                        <p class="card-text"> Juniors, kangaroo, Littles</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="@Url.Action("GetCategories","Category",new{area="Inventory"})">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>